:root{
    --primary-color: navy;
    --secondary-color: #b22222;
}



*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

img{
    max-width: 100%;

}    

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#111827;
}

/* HEADER */
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: "Poppins", sans-serif;
}

p,
input,
button{
    font-family: "Catamaran", sans-serif;
}

.header-underline{
    background-color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3px;
    width: 100px;

}

body{
    background-color: #f1f1f1;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

}

.header .logo h1 span{
    color: var(--secondary-color);
}

.header .navbar{
    opacity: 0;
    height: 0;
} 

.header .navbar.open{
    opacity:1;
    height:100px;
}

.header .book-now-button{
    display: none;
}

.header .menu-btn{
    font-size: 30px;
}

/* SHOWCASE */
.showcase{
    background: url(./images/room-1.jpg) no-repeat center/cover;
    height: 500px;

}

.showcase .overlay{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f1f1f1;
    background-color: rgba(0,0,0, 0.4);
    padding: 20px;
}

.showcase .overlay h1{
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1;
    margin: 0;
}

/* BOOK NOW SECTION */
.book-now{
    padding: 50px 20px;
    text-align:center;
}

.book-now h2{
    margin-bottom: 20px;
}

.book-now .btn{
    background-color: var(--secondary-color);
    padding: 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    font-family: Poppins;
    color: #f1f1f1;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.book-now .btn:hover{
    background-color: transparent;
    color: var(--secondary-color);
    transition: 500ms ease-in-out;
    cursor: pointer;
}

/* CONFERENCE CENTER */

.conference-center{
    padding: 0 0 50px 0;

}

.conference-center .conference-center-description{
    padding: 10px 20px 0;
    font-weight: 100;
}
conference-center .conference-center-description{
    margin-bottom: 10px;

}
conference-center .conference-center-description ul li{
    margin: 5px 0;
}

@media (min-width:640px){
    .showcase .overlay h1{
        font-size:36px;
    }
}
@media(min-width: 768px){
    .showcase .overlay h1{
        font-size: 38px;
    }
    .showcase .overlay p{
        font-size: 17px;
    }

    .book-now{
        font-size: 36px;
    }

    .book-now .btn{
        padding: 20px 60px
    }

}

@media (min-width: 1024px){
    .showcase .overlay h1{
        font-size: 64px;
    }
    .showcase .overlay p{
        font-size: 18px;
    }
    .conference-center{
        max-width: 1000px;
        margin: auto;
    }.conference-center .conference-center-description{
        font-size: 18px;
    }

    .conference-center h2{
        font-size: 40px;
    }


}